<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.dltk.tcl.launching.TCLLaunchConfigurationType">
<stringAttribute key="console_id" value="dltk_1389939739783"/>
<stringAttribute key="mainScript" value="Scripts/DHCP/ssh.app.tcl"/>
<stringAttribute key="nature" value="org.eclipse.dltk.tcl.core.nature"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Test/Scripts/DHCP/ssh.app.tcl"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_APPEND_TO_FILE" value="true"/>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="E:\tt\report\re"/>
<stringAttribute key="process_factory_id" value="org.eclipse.dltk.launching.scriptProcessFactory"/>
<stringAttribute key="project" value="Test"/>
<booleanAttribute key="use_dltk_interactive_console" value="false"/>
</launchConfiguration>
