<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.dltk.tcl.launching.TCLLaunchConfigurationType">
<stringAttribute key="mainScript" value="Scripts/demo/根通道反复添加删除.app.tcl"/>
<stringAttribute key="nature" value="org.eclipse.dltk.tcl.core.nature"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Test/Scripts/demo/根通道反复添加删除.app.tcl"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="process_factory_id" value="org.eclipse.dltk.launching.scriptProcessFactory"/>
<stringAttribute key="project" value="Test"/>
</launchConfiguration>
